<mat-toolbar style="background-color:#ffc107">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span style="font-size:13px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:normal;">WELCOME USER</span>
    <span class="example-spacer"></span>
    <span style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bolder;color: black;">ASSIGNMENT</span>
    <span class="example-spacer"></span>
    <button mat-icon-button style="font-size:13px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:normal;">
        Logout
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
</mat-toolbar>
<mat-divider></mat-divider>